.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 48px;
    flex: 1;
}

.info-header {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 32px;
}

.picture-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.picture-card {
    text-align: center;
    width: 256px;
}

.picture-box {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 256px;
    height: 256px;
    margin-bottom: 8px;
}
